{% extends "admin/change_form.html" %}

{% block extrahead %}
{{ block.super }}
{% if original %}
<meta name="video-status-endpoint" content="{{ video_status_endpoint }}">
<meta name="video-status-id" content="{{ original.pk }}">
{% endif %}
{% endblock %}

{% block submit_buttons_top %}
{{ block.super }}
{% if show_regenerate_thumbnail %}
<div class="submit-row">
<input type="submit" value="サムネイル再作成" name="_regenerate_thumbnail">
</div>
{% endif %}
{% endblock %}

{% block submit_buttons_bottom %}
{{ block.super }}
{% if show_regenerate_thumbnail %}
<div class="submit-row">
<input type="submit" value="サムネイル再作成" name="_regenerate_thumbnail">
</div>
{% endif %}
{% endblock %}
